@import '../../stylesheets/defaults'

+host-styles('mp-smart-hub-dropdown')
  display inline-flex

+prefix-classes('mp-sh-')
  .menu
    mp-drop-menu
      left -257px
      top 40px

    .menu-container
      position relative
      width 375px

      .triangle-up
        left 255px
        position absolute
        svg-icon-style(white, size: 30px)
        top -19px

      .menu-header
        align-items flex-end
        display flex
        flex-direction row
        justify-content space-between
        padding 15px 20px

        .menu-title
          color grey-900
          font-size-large()
          font-weight weight-bold

        .menu-clear-all
          color mp-blue
          cursor pointer
          font-size-medium()

        .hide-clear-all
          display none

      .menu-divider, .alert-divider:not(:last-child)
        border-top 1px solid grey-200
        padding 0
        position relative
        width 100%

      .alerts-container
        max-height 510px
        overflow-y scroll

        .deleted-alert
          background-color grey-500
          transition height 0.5s

      .empty-state
        align-items center
        color grey-700
        display flex
        flex-direction column
        font-weight weight-medium
        justify-content center
        padding 50px 60px

        .empty-state-icon
          svg-icon-style(grey-700, size: 192px)

        .empty-state-text-primary
          color grey-900
          font-size-medium()
          font-weight weight-bold
          margin-top 10px

        .empty-state-text-secondary
          color grey-700
          font-size-medium()
          font-weight weight-medium
          margin-top 10px
          text-align center
