.mp-sh-tooltip-internal-container(
  class={[`mp-sh-tooltip-internal-placement-${placement}`]: true}
)
  mp-smart-hub-alert(
    attrs={
      'access-token': accessToken || ``,
      'project-id': projectId || ``,
      'display-context': `VISUALIZED`,
      'smart-hub-alert': JSON.stringify({alert}),
    }
    on={
      markedUsefulness: $helpers.handleEventPropagation,
      removedAlert: $helpers.handleEventPropagation,
    }
  )
